<div class="blog-container">
  <!-- <h1 class="blog-title">
    Latest Blog Posts
    <a routerLink="/admin" class="admin-link">Go to Admin</a>
  </h1> -->

  <div class="blog-grid">
    @for(post of blogs; track post.id){
      <div class="blog-post">
        <a [routerLink]="['/post', post.route]">
          <h1 class="post-title">{{ post.title }}</h1>
          <p class="post-summary">{{ post.summary }}</p>
        </a>
      </div>
    } @empty { <p>There are no items.</p> }
  </div>
  <div #anchor class="scroll-anchor"></div>
  @if (loading) {<div class="loading">Loading...</div>}
  
  

</div>
